<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 전체 목록</title>
</head>
<body>
<table border="1">
  <tr>
      <th>No</th>
      <th>제목</th>
      <th>내용</th>
      <th>작성자</th>
      <th>게시글암호</th>
      <th>조회수</th>
      <th>작성시간</th>
      <th>상세조회</th>
  </tr>

    <tr th:each="list : ${boardList}">
        <td th:text="${list.id}"></td>
        <td th:text="${list.title}"></td>
        <td th:text="${list.content}"></td>
        <td th:text="${list.writer}"></td>
        <td th:text="${list.boardPw}"></td>
        <td th:text="${list.hit}"></td>
        <td th:text="*{#temporals.format(list.createTime, 'yyyy/MM/dd/HH:mm')}"></td>
        <td><a th:href="@{|/board/detail/${list.id}|}">조회</a></td>
    </tr>

</table>
<a th:href="@{/}">Home</a>
</body>
</html>